<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netease.easeshopping.dao.UuidMapper">
  <resultMap id="BaseResultMap" type="com.netease.easeshopping.model.Uuid">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uuid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from uuid
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByUuid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from uuid
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <select id="getTotalCount" parameterType="java.util.Map" resultType="java.lang.Long">
    select
    count(*)
    from uuid
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from uuid
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.netease.easeshopping.model.Uuid">
    insert into uuid (uuid)
    values (#{uuid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.netease.easeshopping.model.Uuid">
    insert into uuid
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uuid != null">
        uuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.netease.easeshopping.model.Uuid">
    update uuid
    <set>
      <if test="uuid != null">
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.netease.easeshopping.model.Uuid">
    update uuid
    set uuid = #{uuid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>